<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- DEFINISI PRODUK -->
    <Product Id="*" 
             Name="SiUjian CBT" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="SiUjian Dev" 
             UpgradeCode="55806666-4122-4217-8092-230101123456">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
        
        <!-- ICONS & PROPERTIES -->
        <Icon Id="icon.ico" SourceFile="READY_TO_DEPLOY\assets\logo.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <!-- UPGRADE LOGIC -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- UI CONFIGURATION -->
        <UIRef Id="WixUI_InstallDir" />
        <!-- 
            License: WiX requires .rtf for license. README.TXT (plain text) causes errors or bad display.
            We use default license. To use custom: Convert README.TXT to README.rtf and uncomment below.
            <WixVariable Id="WixUILicenseRtf" Value="READY_TO_DEPLOY\dist\README.rtf" /> 
        -->

        <!-- FEATURES -->
        <Feature Id="ProductFeature" Title="SiUjian App" Level="1">
            <ComponentGroupRef Id="MainExecutables" />
            <ComponentGroupRef Id="AssetComponents" /> <!-- New Separate Group -->
            <ComponentGroupRef Id="DistContent" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="DesktopShortcut" />
        </Feature>
    </Product>

    <!-- DIRECTORY STRUCTURE -->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="SiUjian">
                    <Directory Id="DISTFOLDER" Name="dist" />
                    <Directory Id="ASSETSFOLDER" Name="assets" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" />
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>
    </Fragment>

    <!-- MAIN EXECUTABLES (INSTALLFOLDER) -->
    <Fragment>
        <ComponentGroup Id="MainExecutables" Directory="INSTALLFOLDER">
            <Component Id="SiUjianExe" Guid="E8200690-3482-4417-8123-000000000001" Win64="yes">
                <File Id="SiUjian_Launcher.exe" Source="SiUjian.exe" KeyPath="yes" Checksum="yes">
                    <Shortcut Id="ExeStartMenuShortcut" Directory="ProgramMenuFolder" Name="SiUjian CBT" Description="Jalankan Aplikasi SiUjian" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" Advertise="yes" />
                     <Shortcut Id="ExeDesktopShortcut" Directory="DesktopFolder" Name="SiUjian CBT" Description="Jalankan Aplikasi SiUjian" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" Advertise="yes" />
                </File>
            </Component>
            
            <!-- Config/Readme sudah di-harvest oleh Heat (DistContent) -->

        </ComponentGroup>
    </Fragment>

    <!-- ASSETS (ASSETSFOLDER) -->
    <Fragment>
        <ComponentGroup Id="AssetComponents" Directory="ASSETSFOLDER">
            <Component Id="AssetLogo" Guid="E8200690-3482-4417-8123-000000000003" Win64="yes">
                <File Id="AssetLogoFile" Source="READY_TO_DEPLOY\assets\logo.ico" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- SHORTCUT COMPONENTS -->
    <Fragment>
        <Component Id="ApplicationShortcut" Guid="E8200690-3482-4417-8123-000000000004" Directory="ProgramMenuFolder" Win64="yes">
            <RemoveFolder Id="CleanUpShortCut" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\SiUjianDev\SiUjian" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
        
        <Component Id="DesktopShortcut" Guid="E8200690-3482-4417-8123-000000000005" Directory="DesktopFolder" Win64="yes">
            <RegistryValue Root="HKCU" Key="Software\SiUjianDev\SiUjian" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </Fragment>
</Wix>
